@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

.about-integra-text {
  font-family: "Montserrat";
  font-size: 20px;
  font-style: Mixed;
  line-height: 29.26px !important;
  text-align: center;
}
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 1000;
  font-size: 36px;
  line-height: 44px;
}
.global-font {
  font-family: "Montserrat";
}
.container-aboutus {
  width: auto;
  background: #f1efef;
}
